.button_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.button_div button {
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #3A83F1;
    color: #FFFFFF;
}