datasets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

datasets-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    gap: 20px;
}

datasets-grid button {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    gap: 15px;
    box-shadow: 3px 3px 3px #d1d1d1;
}

datasets-grid button div {
    height: 100%;
}

datasets-grid button div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 150px;
}

datasets-grid button div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 450px;
}

datasets-grid button div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 1;
}

datasets-grid button div p:first-child {
    color: #929292;
}

.ReactModal__Content {
    position: unset !important;
    border-radius: 15px !important;
}

.ReactModal__Overlay {
    background-color: rgb(150 150 150 / 75%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}