header {
    display: flex;
    justify-content: space-between;
    padding: 15px 55px;
    width: 100%;
    border-bottom: 1.5px solid #f0f0f0;
}

header * {
    display: flex;
}

header div button {
    padding: 5px 10px;
}

header div:first-child {
    font-size: 25px;
    gap: 25px;
}

header input {
    border-radius: 20px;
    box-sizing: border-box;
    border: 1.5px solid rgb(130, 130, 130);
    padding: 7.5px 9px;
    line-height: 100%;
    font-size: 20px;
    height: 40px;
}

header div:last-child button {
    line-height: 100%;
    font-size: 20px;
    align-items: center;
    border-radius: 15px;
}

header div:last-child {
    gap: 20px;
}