@import url(//db.onlinewebfonts.com/c/1e755b60c5748838dc94e02bda5f9bf5?family=VTB+Group+Cond+Light);
@font-face {
    font-family: "VTB Group Cond Light";
    src: url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.eot");
    src: url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.woff") format("woff"), url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1e755b60c5748838dc94e02bda5f9bf5.svg#VTB Group Cond Light") format("svg");
}

body {
    margin: 0;
    font-family: "VTB Group Cond Light";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}